<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ Copyright (C) 2022 Hadi Satrio
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".RealJournal3Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Journal3"
        android:usesCleartextTraffic="false"
        tools:targetApi="31">

        <receiver
            android:name=".story.PositiveReflectionsWidgetProvider"
            android:exported="false"
            android:label="@string/widgetName_positiveReflections">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/positive_reflections_widget_info" />
        </receiver>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.hadisatrio.apps.android.journal3.SentryInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.hadisatrio.apps.android.journal3.notification.NotificationChannelInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.hadisatrio.apps.android.journal3.alert.InactivityAlertingWorkInitializer"
                android:value="androidx.startup" />
        </provider>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <provider
            android:name="io.sentry.android.core.SentryInitProvider"
            android:authorities="${applicationId}.SentryInitProvider"
            tools:node="remove" />

        <provider
            android:name="io.sentry.android.core.SentryPerformanceProvider"
            android:authorities="${applicationId}.SentryPerformanceProvider"
            tools:node="remove" />

        <activity
            android:name=".RootActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Journal3.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".story.ViewStoryActivity"
            android:theme="@style/Theme.Journal3.NoActionBar" />

        <activity
            android:name=".story.EditAStoryActivity"
            android:theme="@style/Theme.Journal3.NoActionBar" />

        <activity
            android:name=".story.DeleteAStoryActivity"
            android:theme="@style/Theme.Journal3.Translucent" />

        <activity
            android:name=".moment.EditAMomentActivity"
            android:theme="@style/Theme.Journal3.NoActionBar" />

        <activity
            android:name=".moment.DeleteAMomentActivity"
            android:theme="@style/Theme.Journal3.Translucent" />

        <activity
            android:name=".geography.SelectAPlaceActivity"
            android:theme="@style/Theme.Journal3.NoActionBar" />

    </application>

</manifest>
